
.navbar {
    background-color: #000324;
}

.navbar-nav a{
    color: white;
}

.navbar button{
    color: white;
}

.navbar-nav li{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 25px;
    margin: 70px 10px 0px;
    
}

.navText {
    color: white;
    border: 2px solid transparent;
    
}
.navText:hover{
    border: 2px solid white;
    color: white;
}
.navColor {
    background: #000324 0% 0% no-repeat padding-box;
    top: 0px;
    bottom: 0px;
    width: auto;
    height: 120px;
    justify-content: center;
    align-items: flex-end;
}
.logo-image {
    top: 9px;
    left: 889px;
    width: 143px;
    height: 100px;
    margin-bottom: 15px;
    margin-left: 5PX;
    margin-right: 5PX;
    background: transparent url(../assets/Logo.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}

    


.textOver{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #000324; 
    color: #E5FEFF; 
    opacity: 80%;
    padding: 10px 20px;  
    text-align: center;
}
.hero-image{
    background-image: url(../assets/header.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-box{

    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text {
    background-color: #000324;
    opacity: 0.8;
    width: 50%;
    height: 50%;
    background-position: center;
    text-align: center;
    color: white;
    font-family: 'Dosis', sans-serif;
    padding-top: 90px;
    padding-bottom: 100px;
  }
.hd1{
    font: normal normal normal 45px/57px Dosis;
    padding-bottom: 15px;
}
.hd2{
    font: normal normal normal 16px/20px Source Sans Pro;
}

.hamChair{
    padding-left: 20vh;

}


.hamCen{
    padding-right: 25vh;
}

.roomBack{
    background-image: url(../assets/bg2.jpg);
    padding-bottom: 50px;
    
}
.cardPad{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.roomHead{
    font: normal normal normal 35px/44px Dosis;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.qkb{
    font: normal normal normal 25px/32px Dosis;
}
.cardTxt{
    font: normal normal normal 16px/20px Source Sans Pro;
}
.rBtn{
    border-radius: 0px;
}
.pckHead{
    text-align: center;
    font: normal normal normal 35px/44px Dosis;
}
.pkt1{
    font: normal normal normal 25px/32px Dosis;
}
.pkt2{
    font: normal normal normal 16px/20px Source Sans Pro;
    color: #1F51A8;
}
.pkt3{
    font: normal normal normal 16px/20px Source Sans Pro;
}
.amBack{

    background-image: url(../assets/bg.jpg);
    padding-bottom: 50px;
}
.amHead{
    font: normal normal normal 35px/44px Dosis;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.amSubhead{
    text-align: center;
    font: normal normal normal 16px/20px Source Sans Pro;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.amTxt{
    text-align: center;
    font: normal normal bold 20px/25px Source Sans Pro;
    color: #FFFFFF;
}
.amPad{
    padding-left: 45px;
    padding-right: 45px;
}
.resHead{
    text-align: center;
    font: normal normal normal 35px/44px Dosis;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.resBack{
    background-color: #000324 ; 
    width: auto; 
    margin-left: auto; 
    margin-right: auto;
}
.resCheck{
    font: normal normal normal 16px/20px Source Sans Pro;
    color: #E5FEFF;
}
.resBtn{
    font: normal normal bold 20px/25px Source Sans Pro;  
}
.hamPic{
    width: 100%;
    height: 350px;
    background-position: 50% 56%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center; 
}

.footEnd{

    color: #E5FEFF;
    font: normal normal normal 16px/20px Source Sans Pro;
    background: #000324 0% 0% no-repeat padding-box;
    top: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footImg{
    width: 100px;
    height: auto;
    margin-top: 10px;
}

/* Tablet */

@media (max-width: 768px ){
    .amRes{
        font: normal normal bold 10px Source Sans Pro;
    }

}

@media (min-width: 769px ){
    .amRes{
        font: normal normal bold 20px/25px Source Sans Pro;
    }

}